<div class="row">
    <div class="col-md-12">
        <h2>Items</h2>
        <hr />

        <% if(locals.items && items.length> 0) { %>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Title</th>
                            <th>Post Date</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Published</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% items.forEach(item=> { %>
                            <tr>
                                <td>
                                    <%= item.id %>
                                </td>
                                <td>
                                    <%= item.title %>
                                </td>
                                <td>
                                    <%= item.postDate %>
                                </td>
                                <td>
                                    <a href="/items?category=<%= item.category %>">
                                        <%= item.category %>
                                    </a>
                                </td>
                                <td>$<%= item.price %>
                                </td>
                                <td>
                                    <%= item.published %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <% } %>

                <% if(locals.message) { %>
                    <div class="col-md-12 text-center">
                        <strong>
                            <%= message %>
                        </strong>
                    </div>
                    <% } %>
    </div>
</div>