<div class="row">
    <section class="main col-md-9">
        <% if (locals.data && data.item) { %>
            <item>
                <div class="row">
                    <div class="col-4">
                        <h2>
                            <%= data.item.title %>
                        </h2>
                        <img src="<%= data.item.featureImage || 'https://dummyimage.com/847x320/d9d9d9/545454.jpg' %>"
                            alt="feature Image" style="width:100%" />
                    </div>

                    <div class="col-8">
                        <br /><br />
                        <div class="row">
                            <div class="col-12">
                                <%- data.item.description %>
                                    <br /><br />
                                    <strong>Price:</strong> $<%= data.item.price %><br />
                                        <strong>Category:</strong>
                                        <%= data.item.category %><br />
                                            <strong>Last Updated:</strong>
                                            <%= data.item.postDate %>
                            </div>
                        </div>
                    </div>
                </div>
            </item>
            <% } else if (locals.data && data.message) { %>
                <div class="col-md-12 text-center">
                    <h2>
                        <%= data.message %>
                    </h2>
                    <p>Please try another Post / Category</p>
                </div>
                <% } %>
    </section>

    <aside class="col-md-3">
        <br /><br />

        <% if (locals.data && data.items && data.items.length> 0) { %>
            <h4>Items</h4>
            <ul class="list-group">
                <% data.items.forEach(item=> { %>
                    <a href="/shop/<%= item.id %>?category=<%= locals.viewingCategory %>" class="list-group-item">
                        <%= item.title %>
                    </a>
                    <% }); %>
            </ul>
            <% } %>

                <% if (locals.data && data.categories && data.categories.length> 0) { %>
                    <h4>Categories</h4>
                    <ul class="list-group">
                        <% data.categories.forEach(category=> { %>
                            <a href="/shop?category=<%= category.id %>" class="list-group-item">
                                <%= category.category %>
                            </a>
                            <% }); %>
                    </ul>
                    <% } %>
    </aside>
</div>